.section__container {
  // text-align: justify;
  padding: 0 50px;
}

.section__title {
  font-family: $playfair;
  font-size: $x-large;
  padding: 30px 0;
}
.section__description {
  line-height: 200%;
  font-family: $roboto;
  font-size: $medium;
}

.section__description__highlight {
  color: $fuzzy-wuzzy;
}

.section__button {
  padding: 100px 0;
}
